@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
/* body {
    font-family: "Montserrat";
} */
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-container-box {
    display: flex;
    justify-content: left;
}
.home-container-text {
    color: #8a9c9b;
    /* border: 1px solid blue; */
    width: 50%;
}

.home-link-h3 {
    font-weight: bold;
    color: white;
    /* border: 1px solid green; */
}
.nav-glass {
    font-family: Montserrat, "Helvetica Neue";
    background: rgba(55, 26, 23, 0.29);
    /* border-radius-bottom-left: 5px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    /* border: 0.1px solid rgba(85, 84, 84, 0.36); */
}

.f1-img {
    filter: grayscale(25%) contrast(80%);
    /* filter: brightness(0) invert(1); */
}
.uefa-img {
    /* filter: grayscale(25%) contrast(80%); */
    filter: brightness(0) invert(1);
}
.responsive {
    width: 100vh;
    height: 100vw;
}

.responsive-container {
    width: 90vw;
    /* align-self: center; */
    height: 60vh;
    /* flex: auto; */
}

.select-button {
    border-radius: 20;
    border-color: "#1a5d57";
    border: "0.1px solid";
}

.custom-tooltip {
    color: "white";
    font-family: "Montserrat";
    font-weight: "bold";
    border: "1px solid";
    border-radius: "7px";
    padding: "15px";
}

/* FootBall */
/* Global Standings */
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
}
.tableHolder {
    display: "flex";
    justify-content: "center";
    padding-left: "90px";
    padding-right: "90px";
}
